.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #ffffff; /* Change to your desired background color */
}

.logo {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.menuItem {
    font-weight: bolder;
    margin: 0 20px;
    font-size: 22px;
    color: #000; /* Change to your desired text color */
    text-decoration: none;
}

.menuItem:hover {
    text-decoration: underline; /* Optional: Add hover effect */
}
